<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <listener>
        <listener-class>org.example.listener.ServletContextInitializationDestroyListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>front</servlet-name>
        <servlet-class>org.example.servlet.FrontServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>front</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>anon</filter-name>
        <filter-class>org.example.filter.AnonymousAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>anon</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>x509</filter-name>
        <filter-class>org.example.filter.X509AuthentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>x509</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>basic</filter-name>
        <filter-class>org.example.filter.BasicAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>basic</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>bear</filter-name>
        <filter-class>org.example.filter.BearerAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>bear</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
    </security-constraint>
    <resource-ref>
        <res-ref-name>jdbc/ds</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>